h1 {
	color: green;
}

h2 {
	color:<%= @green %>;
}

body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: <%= @color["darkgreen"] %>; text-decoration:none;  }
a img {border:0;}

a:hover { color: <%= @color["othercolor"] %> ; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
	            </div>
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1 {border-bottom:3px <%= @color["violet"] %> solid; padding-bottom:10px;}
h2 {line-height:0px;margin-top:30px;}
table {width:;border-spacing:0;}
th {text-align:left;}
td {padding:2px 2px 2px 10px;}

/* Main Page Divs*/
#page{color:<%= @color["purple"] %>;width:80%;margin:auto;}
#header{text-align:center;}
#main{width:860px;margin:auto;}
#footer{height:60px;background-color:<%= @color["purple"] %>; color: white; border-top:10px <%= @color["darkgreen"] %> solid; text-align:center; margin-top:30px;}
#login_box{text-align:right;}
#logo {text-align:center;}
#pageback {background:<%=@color["pageback"]%>;}
#nav{height:40px;background-color:; color: white; border-top:10px <%= @color["darkgreen"] %> solid; text-align:left; vertical-align: bottom;}
#nav a{ font-size:18px; color: <%= @color["lightgreen"] %>;	height:50px;}
#nav a:hover{color:<%= @color["darkgreen"] %>;background-color:<%= @color["violet"]%>;}


#nav ul {
	float:left;
	list-style-type:none;
	margin:-10px 0 0 30px;
	padding:0;
	background:<%= @color["purple"] %>;
	position:relative;
	top:10px;
} 

#nav ul li {
	margin-right: 10px;
	float:left;
	/*background:url(../images/nav_tab_left_g.gif) no-repeat;*/
}

#nav ul li a {
	height:30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
	/*background:url(../images/nav_tab_right_g.gif) no-repeat;background-position: 100% 0%;*/
}

/* Classes */

.colorback {background-color:<%= @color["violet"] %>; padding:10px;}
.teal {color:<%= @color["darkgreen"] %>;}
.chart{padding:3px;border:3px <%= @color["purple"] %> solid; background:white;float:left;width:612px;margin-right:8px;}
.clearer{clear:both;}
.csssucks table{padding:0px;margin:0px;}
.csssucks td{border:1px solid black;}
.zebra{background-color:<%= @color["lightgreen"] %>;}
.formtable{color:<%= @color["lightgreen"] %>;font-weight:bold;}
.bar{height:30px;background-color:<%= @color["purple"]%>;}
.profile_picture{border:2px solid <%= @color["purple"]%>;}
.noedit{background-color:white; padding:2px; width:98.5%; border-right:4px solid <%= @color["violet"]%> }

.box a{padding:10px; background-color:#fff;margin:5px;line-height:4em;border:2px #fff solid;}
.box a:hover{border:2px <%= @color["darkgreen"] %> solid; background-image:url(../images/line.png);background-repeat:repeat-x;}