<%
@color = Hash.new
@color["green"]="#5B8727"
@color["black"]="#000000"
@color["gray"]="#c5c0a3"
@color["darkgreen"]="#4A6D2C"
@color["lightgreen"]="#9AD352"
@color["champagne"]="#DED8B1"
@color["greentext"]="#253A0B"
@color["newgreen"]="#355310"
@color["plum"] = "#34071e"
%>
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
	/*font-family:"Georgia", serif;*/
}



body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   18px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: <%= @color["green"] %>; text-decoration:none;  }
a img {border:0;}

a:hover { color: <%= @color["darkgreen"] %> ; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
	            </div>
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1 { color: green;border-bottom:3px <%= @color["plum"] %> solid; padding-bottom:10px; }
h2 {color:<%= @green %>;line-height:0px;margin-top:30px;}
table {width:;border-spacing:0;}
th {text-align:left;}
td {padding:2px 2px 2px 10px;}

/* Main Page Divs*/
#page{color:<%= @color["black"] %>;width:70%;margin:auto;}
#header{text-align:center;}
#main{width:85%;margin:auto;}
#footer{height:60px;background-color:<%= @color["plum"] %>; color: white; border-top:10px <%= @color["darkgreen"] %> solid; text-align:center; margin-top:30px;}
#login_box{text-align:right;}
#logo {text-align:center;}
#pageback {background:<%=@color["champagne"]%>;}
#nav{height:40px; color: white; border-top:10px <%= @color["darkgreen"] %> solid; text-align:left; vertical-align: bottom; }
#subnav{ border-bottom:10px <%= @color["darkgreen"] %> solid;}

.nav a{ font-size:18px; color: <%= @color["champagne"] %>;	height:50px;}
.nav a:hover{color:<%= @color["greentext"] %>;background-color:<%= @color["gray"]%>;}
.nav ul{
	float:left;
	list-style-type:none;
	margin:-10px 0 0 30px;
	padding:0;
	background:<%= @color["plum"] %>;
	position:relative;
	top:10px;
} 

.nav ul li {
	margin-right: 10px;
	float:left;
	/*background:url(../images/nav_tab_left_g.gif) no-repeat;*/
}

.nav ul li a {
	height:30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
	/*background:url(../images/nav_tab_right_g.gif) no-repeat;background-position: 100% 0%;*/
}

/* Classes */

.colorback {background-color:<%= @color["gray"] %>; padding:15px;border:3px <%= @color["darkgreen"] %> solid;}
.teal {}
.chart{padding:3px;border:3px <%= @color["black"] %> solid; background:white;float:left;width:612px;margin-right:8px;}
.clearer{clear:both;}
.csssucks table{padding:0px;margin:0px;}
.csssucks td{border:1px solid black;}
.zebra{background-color:<%= @color["champagne"] %>;}
.formtable{color:<%= @color["black"] %>;}
.bar{height:30px;background-color:<%= @color["plum"]%>;}
.profile_picture{border:2px solid <%= @color["black"]%>;}
.noedit{background-color:white; padding:2px; width:98.5%; border-right:4px solid <%= @color["gray"]%> }
.hundredpx {height:100px;}
.highlight{color:<%=@color["newgreen"]%>;font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;font-weight:100;font-size:1.3em;}
.headline{text-align:center;margin-top:0;color:<%=@color["plum"]%>;}
.timetext{font-size:10px;}
.commenttext{font-size:13px;}
.comment{border:1px dotted white;background-color:<%=@color["lightgreen"]%>; padding:20px;}
.commentdiv{padding:20px 0px 10px 0px}
.indent{margin-left:30px;}
.box a{padding:10px; background-color:#fff;margin:5px;line-height:4em;border:2px #fff solid;}
.box a:hover{border:2px <%= @color["darkgreen"] %> solid; background-image:url(../images/line.png);background-repeat:repeat-x;}