<% @title_text="Friends"%>
<% @count = 0 %>
<% unless @friend_requests.empty? %>
	<h1>Friend Requests</h1>
	<div class="colorback">
	<table class="ztable">
	  <tr>
	    <th>Username</th>
	    <th>First</th>
	    <th>Last<th>
	    <th><th>
	  </tr>
		<% for friend in @friend_requests
		 	user = User.find(friend) %>
			<% @count+=1 %>
			<% if @count%2 == 0 %>
			  <tr>
			<% else %>
			  <tr class="zebra">
			<% end %>
		    <td><%= link_to user.first_name + " " + user.last_name, :controller => :users, :action => :profile, :params => { :id => friend } %></td>
			<td><%= link_to "Accept", :action => "accept_friend", :params => {:user_id => user.id }%></td>
			<td><%= link_to "Reject", :action => "reject_friend", :params => {:user_id => user.id }%></td>
		  </tr>
		<% end %>
	</table>
	</div>	
<% end %>
<h1>Your <span class="teal">Friends</span></h1>
<div class="colorback">
<% if @friends.empty? %>
	<!-- if no friends -->
	<div class="box"><%= link_to "Go and make some!", :controller => :users, :action => :search %></div>
<% else %>
	<table class="ztable">
	<% for friend in @friends 
		user = User.find(friend)%>
		<% @count+=1 %>
		<% if @count%2 == 0 %>
		  <tr>
		<% else %>
		  <tr class="zebra">
		<% end %>
		<td><%= link_to user.first_name + " " + user.last_name, :controller => :users, :action => :profile, :params => { :id => friend } %></td>	  
	  </tr>
	<% end %>
	</table>
<% end %>
</div>