<h1>Edit <%= @group.name %></h1>
<div class="colorback">
<table class="formtable">
<% form_for :group, @group do |f| %>
	<tr><td><%= f.error_messages %></td></tr>
	<tr>
		<td>
			Name<br />
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<td>
			Description<br />
			<%= f.text_area :description %>
		</td>
	</tr>
	
	<tr><td><div class="box"><%= f.submit "Submit" %></div></td></tr>	
<% end %>
</table>
</div>