<h1><%=h @group.name%></h1>
<div class="box">
<% unless @member %>
	<%= link_to "Join Group", :action => :join_group, :params => { :group_id => @group.id }%>
<% end %>
<% if @admin %>
	<%= link_to "Edit Group", :action => :edit, :params => { :id => @group.id }%>
<% end %>
</div>
<div class="colorback">
<%= @group.description %>
<h2>Members</h2>
<% for user in @group.users %>
	<%= link_to user.username, :controller => :users, :action => :profile, :params => { :id => user.user_id } %>
<% end %>
</div>
