<h1 style="margin-bottom:0px"><%= @user.first_name + " " + @user.last_name %></h1>
<span class="status"><%=h( @user.status )%></span><br /><br />
<% if @user.id == session[:user_id] %>
<div class="box"><%= link_to "Edit My Profile", :action => :edit_profile%></div>
<% else 
	unless @friends %>
	<div class="box"><%= link_to "Add User to Friends", :controller => "friends", :action => "friend_request", :params => {:user_id => @user.id} %>
	</div>
<% end 
end %>
<div class="colorback">
	<%= image_tag "cup.png", :class => "profile_picture"%><br />
	&nbsp;
<table class="formtable">
	<tr>
		<td>
			<span class="highlight">Email</span><br />
			<%=h( @user.email )%>
		</td>
	</tr>
		<td>
			<span class="highlight">Birthday</span><br />
			<%= if @user.date_of_birth 
				h( @user.date_of_birth.strftime("%B %d")) 
			end %>
		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Current Hometown</span><br />
			<%=h( @user.hometown) %>
		</td>
		<td>
			<span class="highlight">State</span><br />
			<%=h( @user.state) %>
		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Country</span><br />
			<%=h( @user.country )%>
		</td>
		<td>


		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Interests</span><br />
			<%=h( @user.interests) %>
		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Favorite Wines</span><br />
			<%=h( @user.favorite_wines) %>
		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Favorite Food and Wine Pairings</span><br />
			<%=h( @user.favorite_food_and_wine_pairings) %>
		</td>
	</tr>
	<tr>
		<td>
			<span class="highlight">Groups</span><br />
			<% for group in @user.groups%>
			<%= h(group.name)%><% unless group == @user.groups.last %>,<%end%>
			<% end %>
		</td>
	</tr>
	
</table>
</div>
