<h1>Vinetown Community</h1>
<% if !@posts.nil? %>			
<h2>Community News</h2>
<% for post in @posts %>
	<%= post.name%> -
	<%= link_to post.user.username, :controller => :users, :action => :profile, :params => { :id => post.user_id } %><br />
	<span class="timetext"><%= post.created_at.strftime("%I:%M %p on %a %b %d %Y") %></span><br /><br />
	<%= post.body[0,200].chomp(" ") %><% if post.body.length > 200 %>... 
	<% end %>
	<%= link_to "View Full Post", :controller => :posts, :action => :view, :params => {:id => post.id} %><br />
<% end %>
<% end %>
