<% @nb = "nb" %>
<% @js = "" %>
<h1 style="margin-bottom:2px">My Neighborhood - <%= h @user.username %></h1>
<% form_for :status, @status do |f| %>
	What are you up to? <span class="status"><%= f.text_field :status %></span><span class="box">&nbsp;<%= f.submit "Update"%></span>
<% end %>
<div class="colorback">
<% if  @comments[@status.id] %>
	<h3 style="margin-top:0px;">Friends Replies to your current status</h3>
<% end %>

<% unless @comments.nil? %>
	<% for comment in @comments[@status.id] %>
		<%= render :partial => "partials/display_comment.html.erb", :locals => { :comment => comment } %>		
	<% end %>
<% end %>

<!-- clearly needs to be better formated -->
<h2>Status Updates from friends</h2>
<% for status in @statuses %>
	<h3><%= link_to status.user.username, :controller => :users, :action => :profile, :params => { :id => status.user_id } %></h3>
	<span class="timetext"><%= status.created_at.strftime("%I:%M %p on %a %b %d %Y") %></span>
	<br /><br />
	<%= status.status %>
	<div class="add_comment<%= status.id%> box" style="font-size:small;"><a href="javascript:return 0;">Comment</a></div>

	<!-- js for comment show/hide -->
	<% @js += "
		$('.add_comment#{status.id} a').click(function() {
			$('.add_comment#{status.id}').addClass('hidden');
			$('#thecomment#{status.id}').removeClass('hidden');
		});

		$('.hide#{status.id}').click(function() {
			$('.add_comment#{status.id}').removeClass('hidden');
			$('#thecomment#{status.id}').addClass('hidden');
		});
	"
	%>

	<!-- form for comment -->
	<div id="thecomment<%= status.id%>" class="hidden">
	<div class='box'><a href="javascript:return 0;" class="hide<%= status.id%>">Hide</a></div>
	<table>
		<% form_for :comment, :url => { :controller => :posts, :action => :comment, :params => { :status => { :id => status.id }}} do |f| %>		
		<tr>
			<td>
				Comment<br />
				<span class="commentbox"><%= f.text_area :text %></span>
			</td>
		</tr>
		<tr><td><%= f.submit "Submit" %><br /></td></tr>
	<% end %>
	</table>
	</div>

	<!-- replies -->
	<% if !@comments[status.id].empty? %>
	<h3>Replies</h3>
	<% end %>
	<% for comment in @comments[status.id] %>
		<%= render :partial => "partials/display_comment.html.erb", :locals => { :comment => comment } %>
	<% end %>
	
	<hr />
<% end %>



<h2>Posts from friends</h2>
	<%= render :partial => "partials/poster.html.erb", :locals => { :posts => @posts } %>
</div>

<script type="text/javascript">
 	$(function() {
		<%= @js %>
	});
</script>