<h1>New Post</h1>
<div class="colorback">
<table class="formtable">
<% form_for :post, @post do |f| %>

	<tr><td><%= f.error_messages %></td></tr>
	<tr>
		<td>
			Title<br />
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :body %><br />
			<%= f.text_area :body %>
		</td>

	</tr>

	<tr><td><%= f.submit "Submit" %><br /></td></tr>
	
<% end %>
</table>
</div>