<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Vinetown.com</title>
		<link rel="icon" type="image/png" href="/images/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    	<%= stylesheet_link_tag 'style' %>    	
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div id="nav">
		                <div id="logo"><%= link_to image_tag ("Vinetown_logo.png", :alt=>"logo"), :controller => "users", :action => "index" %></div>	              
                </div>
				<div id="login_box">
                    <% if session[:user_id] %>
						Signed in as <%= session[:user_username] %>. <%= link_to "Sign Out", :controller => "users", :action => "logout" %>&nbsp;&nbsp;
					<% end %>
                </div>
            </div>
            <div id="main">
                <% if flash[:notice] %><p class="flash notice"><%= flash[:notice] %></p><br><br><% end %>
                <%= yield %>
            </div>
            <div id="footer"><br />
                copyright &copy; 2009 vinetown llc.</a>
            </div>
        </div>
    </body>
</html>
